.vscode/
node_modules/

App.js
App.js.map

Page.js.map
Page.js

page.css
style.css
modal.css
mail.php

app.gitignore
package-lock.json
*.zip
www/.vs/slnx.sqlite-journal
*.sqlite
www/Scripts/all.js
www/Styles/main.css
